.left-panel {
	height: 100vh;
	border-right: double;
}

.design-div {
    position: absolute;
    overflow: hidden;
    border: 1px solid #aaaaaa;
    height: 354px;
    width: 199px;
    margin-left: 213px;
    margin-top: 75px;
}

.mobile-div {
    position: absolute;
    z-index: -1;
    margin-left: 189px;
}

.mobile-image {
	width: 60%;
}

.right-panel {
	border-left: double;
	height: 100vh;
}

.widget {
	margin: 5px;
}

.label-div {
	text-align: center;
	margin: 5px;
}


