<div class="row">
  <div class="col-md-3 left-panel">
    <div class="label-div">
      <label i18n="@@widgets">Widgets</label>
    </div>
    <div class="widget-div">
        <input type="text"  disabled="true" draggable="true" (dragstart)="onDragStart($event, 'input')" id="input" class="widget input-widget widget-enabled">
        <br>
        <button type="submit" draggable="true" (dragstart)="onDragStart($event, 'button')" class="btn-primary widget widget-enabled" id="button">Submit</button>
        <br>
        <input type="password" disabled="true" id="password" class="widget widget-disabled" value="123" data-toggle="tooltip" data-placement="right" title="Coming Soon">
        <br>
        <label disabled="true" id="label" disabled="true" class="widget widget-disabled" data-toggle="tooltip" data-placement="right" title="Coming Soon">Label</label>
        <br>
        <input type="checkbox" id="checkbox" disabled="true" class="widget widget-disabled" value="" data-toggle="tooltip" data-placement="right" title="Coming Soon">
        <br>
        <input type="radio" disabled="true" id="radio" class="widget widget-disabled" name="optradio" data-toggle="tooltip" data-placement="right" title="Coming Soon">
        <br>
         <select class="form-control" id="select" disabled="true" class="widget widget-disabled" data-toggle="tooltip" data-placement="right" title="Coming Soon">
          <option>Select</option>
         </select>
         <br>
         <textarea class="form-control" rows="3" id="textarea" disabled="true" class="widget widget-disabled" data-toggle="tooltip" data-placement="right" title="Coming Soon"></textarea>
    </div>
  </div>
  <div class="col-md-6 design-panel">
    <div class="label-div">
      <label i18n="@@design_in_ios">Design in iOS</label>
    </div>
    <div class="preview-div">
         <button class="btn-md btn-success preview-btn" (click)="showPreview()" 
         i18n="@@preview_in_android">Preview In Android</button>
    </div>
    <div>
       <div class="mobile-div">
         <img class="mobile-image" src="/assets/images/iphone5S-portrait.png">
       </div>
       <div (drop)="onDrop($event)" (dragover)="allowDrop($event)" id="design-div" class="design-div" >
    </div>
    </div>
  </div>
  <div class="col-md-3 right-panel">
    <div class="label-div">
      <label i18n="@@properties">Properties</label>
    </div>
  </div>
</div>
